<div class="container d-flex justify-content-center py-2 my-5" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}">
  <div class="card p-4">
    <div class="card-body text-center">
      <h5 class="heading">SIGNUP</h5>
      <p class="text">It's easy to create account</p>
      <br />
      <form novalidate [formGroup]="singupForm" (ngSubmit)="createAccount()">
        <div class="form-group">
          <input
            type="text"
            placeholder="Full Name"
            formControlName="fullName"
            class="form-control text"
          />
          <i class="fa fa-user-o icon" aria-hidden="true"></i>
          <div *ngIf="fullName.errors && (fullName.dirty || fullName.touched)">
            <div class="text-danger" *ngIf="fullName.errors.required">
              Full Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            placeholder="User Name"
            formControlName="userName"
            class="form-control text"
          />
          <i class="fa fa-user-o icon" aria-hidden="true"></i>
          <div *ngIf="userName.errors && (userName.dirty || userName.touched)">
            <div class="text-danger" *ngIf="userName.errors.required">
              User Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <input
            type="email"
            placeholder="Email"
            formControlName="email"
            class="form-control text"
          />
          <i class="fa fa-envelope-o icon" aria-hidden="true"></i>
          <div *ngIf="email.errors && (email.dirty || email.touched)">
            <div class="text-danger" *ngIf="email.errors.required">
              Email is required
            </div>
            <div class="text-danger" *ngIf="email.errors.email">
              Email entered is not Valid
            </div>
          </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
            class="form-control text"
            minlength="8"
          />
          <i class="fa fa-lock icon" aria-hidden="true"></i>
          <div *ngIf="password.errors && (password.dirty || password.touched)">
            <div class="text-danger" *ngIf="password.errors.required">
              Password is required
            </div>
            <div class="text-danger" *ngIf="password.errors.minlength">
              Password contains atleast 8 characters
            </div>
          </div>
        </div>
        <p class="text text-right">
          Have an account? <a href="" [routerLink]="['/login']">Login</a>
        </p>
        <br />
        <button type="submit" class="btn btn-block button-color">
          CREATE ACCOUNT
        </button>
      </form>
    </div>
  </div>
</div>
