<section class="container my-5">
  <div class="about-us text-center my-3">
    <h2 class="heading">Who We Are and What We Do</h2>
    <br />
    <p class="text">
      Our mission is to help merchants sell more at every stage of growth, from
      small startups, to mid-market businesses, to large enterprises. As a
      leading Open SaaS solution, We empowers merchants to build, innovate and
      grow their businesses online. Simply put, we focus on being the best
      commerce platform so our customers can focus on what matters most: growing
      their businesses.
    </p>
    <img
      src="assets/images/aboutus.png"
      alt="About Us"
      class="img img-fluid my-4"
    />
  </div>
  <div class="company-values text-center my-3">
    <h2 class="heading">Our Company Values</h2>
    <br />
    <p class="text">
      These are the core principles upon which our Company was built, guiding
      what we do and how we do it. Each employee learns them, loves them and
      lives them. Our merchants benefit from them every time they use our
      product or get help from our Support team.
    </p>
    <img
      src="assets/images/company.png"
      alt="Company"
      class="img img-fluid my-4"
    />
  </div>
  <div class="jumbotron">
    <div class="row py-4">
      <div class="col-sm-6">
        <h5 class="heading">Customers First</h5>
        <p class="text">
          Our company exists to help merchants sell more. We make every decision
          and measure every outcome based on how well it serves our customers.
        </p>
      </div>
      <div class="col-sm-6">
        <h5 class="heading">Think Big</h5>
        <p class="text">
          Being the world's leading commerce platform requires unrivaled vision,
          innovation and execution. We never settle. We challenge our ideas of
          what’s possible to better meet the needs of our customers.
        </p>
      </div>
    </div>
    <div class="row py-4">
      <div class="col-sm-6">
        <h5 class="heading">Act with Integrity</h5>
        <p class="text">
          We’re honest, transparent and committed to doing what’s best for our
          customers and our company. We openly collaborate in pursuit of the
          truth. We have no tolerance for politics, hidden agendas or
          passive-aggressive behavior.
        </p>
      </div>
      <div class="col-sm-6">
        <h5 class="heading">Make a Difference Every Day</h5>
        <p class="text">
          We constantly push ourselves to be our best. We focus on solutions and
          arrive every day inspired to make an impact through our talents,
          passion and hard work.
        </p>
      </div>
    </div>
  </div>
</section>
