<section class="container-fluid px-5">
  <!-- Carousel -->
  <div id="myCarousel" class="carousel jumbotron slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="mx-2 active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class="mx-2"></li>
      <li data-target="#myCarousel" data-slide-to="2" class="mx-2"></li>
    </ul>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h2>
                Buy Your
                <span
                  >Favourite <br />
                  Fresh</span
                >
                Food & Get <br />
                Up to 70% OFF
              </h2>
              <p class="text-justify py-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatem officia totam quasi tempora sunt natus maiores dicta
                fuga? Molestiae, rerum. Natus repellat ut vero quaerat nulla
                enim perferendis quas sequi.
              </p>
              <button class="button-color btn"  (click)="goToShop()">
                Order Now
              </button>
            </div>
            <div class="col-sm-6">
              <img
                src="/assets/images/fast-food.jpg"
                alt="Fast Food"
                height="216px"
                width="300px"
                class="img img-fluid"
              />
            </div>
          </div>
        </div>
        <br />
      </div>

      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h2>
                Buy Your
                <span
                  >Favourite <br />
                  Fresh</span
                >
                Food & Get <br />
                Up to 70% OFF
              </h2>
              <p class="text-justify py-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatem officia totam quasi tempora sunt natus maiores dicta
                fuga? Molestiae, rerum. Natus repellat ut vero quaerat nulla
                enim perferendis quas sequi.
              </p>
              <button class="button-color btn"  (click)="goToShop()">
                Order Now
              </button>
            </div>
            <div class="col-sm-6">
              <img
                src="/assets/images/fish.jpg"
                alt="Fast Food"
                height="216px"
                width="300px"
                class="img img-fluid"
              />
            </div>
          </div>
        </div>
        <br />
      </div>

      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <h2>
                Buy Your
                <span
                  >Favourite <br />
                  Fresh</span
                >
                Food & Get <br />
                Up to 70% OFF
              </h2>
              <p class="text-justify py-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptatem officia totam quasi tempora sunt natus maiores dicta
                fuga? Molestiae, rerum. Natus repellat ut vero quaerat nulla
                enim perferendis quas sequi.
              </p>
              <button class="button-color btn"  (click)="goToShop()">
                Order Now
              </button>
            </div>
            <div class="col-sm-6">
              <img
                src="/assets/images/food1.jpg"
                alt="Fast Food"
                height="216px"
                width="300px"
                class="img img-fluid"
              />
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</section>
<!-- Discount -->
<section class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card discount">
        <div class="card-body d-flex">
          <div class="container">
            <h3>Fresh Pinapple</h3>
            <h2 class="heading">35% Discount</h2>
            <p class="text">Free Delivery</p>
            <button class="btn button-color" (click)="goToShop()">SHOP NOW</button>
          </div>
          <div class="container">
            <img src="/assets/images/food1.jpg" alt="Discount" width="200px" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card discount">
        <div class="card-body d-flex">
          <div class="container">
            <h3>Fresh Pinapple</h3>
            <h2 class="heading">35% Discount</h2>
            <p class="text">Free Delivery</p>
            <button class="btn button-color" (click)="goToShop()">
              SHOP NOW
            </button>
          </div>
          <div class="container">
            <img src="/assets/images/food1.jpg" alt="Discount" width="200px" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Service Details -->
<section class="container py-5">
  <div class="card-group m-0 p-0">
    <div class="card bg-light">
      <div class="card-body p-3 d-flex">
        <img
          src="/assets/images/shipping.png"
          class="service-img"
          alt="Shipping"
        />
        <div class="container service-container pl-3 p-0">
          <h5 class="service-heading">FREE SHIPPING</h5>
          <p class="text service-text m-0">on all order above $99.</p>
        </div>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body p-3 d-flex">
        <img
          src="/assets/images/easy-returns.png"
          class="service-img"
          alt="Shipping"
        />
        <div class="container service-container pl-3 p-0">
          <h5 class="service-heading">EASY RETURNS</h5>
          <p class="text service-text m-0">30 Days Return Policy.</p>
        </div>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body p-3 d-flex">
        <img
          src="/assets/images/payment.png"
          class="service-img"
          alt="Shipping"
        />
        <div class="container service-container pl-3 p-0">
          <h5 class="service-heading">SECURE PAYMENT</h5>
          <p class="text service-text m-0">100% Secure Payment.</p>
        </div>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body p-3 d-flex">
        <img src="/assets/images/24-7.png" class="service-img" alt="Shipping" />
        <div class="container service-container pl-3 p-0">
          <h5 class="service-heading">24/7 SUPPORT</h5>
          <p class="text service-text m-0">Dedicated Support.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Big Sale -->
<section
  class="container big-sale pb-0 mb-0"
  style="background-color: rgb(0, 255, 191, 0.25)"
>
  <div class="row py-5 d-flex">
    <div class="col-sm-8 text-center">
      <img src="/assets/images/food1.jpg" alt="Discount" width="200px" />
    </div>
    <div class="col-sm-4">
      <div class="container" style="line-height: 40px">
        <h3 class="heading">Fresh Broyler Chicken</h3>
        <p class="text">Big Sale 40% OFF</p>
        <button class="btn button-color" (click)="goToShop()">Shop Now</button>
      </div>
    </div>
  </div>
</section>
